body {

    background-color: #E0D48A;
}

#container {
    width:80%;
    margin-top: 20px;
    margin-left: 50px;
}

#top{
    background-color: #BDD92D;
    height: 200px;
}

#page-title{
    color: black;
    margin-left:70%;
}

#title-text{
    margin: 50px 0px -15px 0px;
}

.menu-container{
    padding: 10px;
    background: white;
}

#menu{
    padding: 10px;
    border: 2px solid #b8babc;
    border-bottom: none;
}

.menu-items {
    padding-left: 85px;
    text-decoration:none;
}

#mid{
    background-color: white;
    height: 500px;
}

#vertical{
    border-right: 1px solid #b8babc;
    float: left;
    width: 250px;
}

#vertical-text{
    padding: 0px 20px 20px 20px;
    font-size: 13px;
}

.bg-menu{
    margin: 10px;
    padding: 10px 0px 10px 20px;
    background: #D2D35E;
    font-size: 25px;
}

.readmore{
    border: 1px solid black;
    border-left: none;
    width: 150px;
}

.vertical-items{
    padding:2px;
}

#content{
    padding: 0 20px;
}

#content-left{
    border-right: 1px solid #b8babc;
    float:left;
    width: 46%;
    padding-right: 20px;
}

#content-right{
    padding-left: 20px;
}

.read-more{
     text-decoration: none;
}

#footer-text{
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

div {
    overflow: hidden;
}
