body{
  background-color: #D0BCFE;
}

#bigContainer{
  width: 60vw;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
}

#container{
  padding-top: 60px;
  width: 40%;
  margin: auto;
}

#input{
  width: 70%;
  margin-right: 20px;
  padding: 10px;
}

#button{
  width:30%;
  background-color: #71FD95;
}

#form{
  display: flex;
}

#wrapper{
  display: flex;
}

#items{
  width: 50%;
}

#buttons{
  width: 50%;
  display: block;
}

#sortButtons{
  padding-top: 20px;
}

.sButtons{
  background-color: #D0BCFE;
  margin-right: 10px;
}
