body {
    background-color: #222244;
}

#container {
    width:80%;
    margin: 20px auto;
}

#top{
    background-color: #444466;
    border-radius: 25px 25px 0px 0px;
    height: 140px;
}

#mid{
    background-color: white;
    height: 400px;
}

#vertical{
    margin-top:20px;
    float: left;
    width: 200px;
}

#vertical-text{
    padding: 0px 20px 20px 20px;
    font-size: 12px;
}

#content{
    padding: 20px;
}

#bot{
    background-color: #664444;
    border-radius: 0px 0px 25px 25px;
    padding: 5px; 
}

#pc-image{
    width: 150px; 
    margin: 20px;
    float: left;
}

#page-title{
    color: white;
    margin-top: 30px;
    font-size: 70px;
}

#footer-text{
    text-align: center;
    font-size: 12px;
    color: white;
}

a {
    display: block;
    color: black;
    padding: 0px 0px 7px 20px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #D0D0D0;
    text-decoration:none;
}

div {
    overflow: hidden;
}
