body{
  margin: 0;
  display: flex;
}

#lista_elevi_wrapper{
  padding: 20px;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: #D5CEC1;
}

#note_elev_wrapper{
  padding: 20px;
  display: none;
  background: #D7B8A6;
  width: 50%;
  height: 100vh;
}

.button{
  padding: 5px;
  background: #7B828E;
  color: white;
}

#noStudents{
  font-size: 20px;
}

.studentRow{
  display: flex;
}

.column{
  width: 33.33%;
}

#first-row{
  font-weight: bold;
}

#grades{
  text-align: center;
}
